#!/bin/bash

{{- $install := "n" }}

{{- if eq $install "y" }}

  {{- if eq .chezmoi.os "linux"}}

    {{- if eq .chezmoi.osRelease.id "manjaro"}}

      echo "installing tools for manjaro linux, may require password and confirmation"

      sudo pacman -Syu neofetch \
      tldr \
      neovim

      git clone --depth 1 https://github.com/wbthomason/packer.nvim\
       ~/.local/share/nvim/site/pack/packer/start/packer.nvim

    {{- else if eq .chezmoi.osRelease.id "amzn"}}

      echo "installing tools AL2, may require password and confirmation"

      cd
      wget https://github.com/neovim/neovim/releases/download/v0.8.3/nvim.appimage
      chmod u+x nvim.appimage
      ./nvim.appimage --appimage-extract
      sudo ln ~/squashfs-root/usr/bin/nvim /usr/bin/nvim
      rm nvim.appimage

      git clone --depth 1 https://github.com/wbthomason/packer.nvim\
       ~/.local/share/nvim/site/pack/packer/start/packer.nvim

    {{- else }}

      echo "skip dev tool installation because no matching linux distro ..."

    {{- end }}

  {{- end }}

{{- else }}

  echo "skip dev tool installation based on install flag ..."

{{- end }}
