#!/bin/bash

{{- if eq .chezmoi.os "linux"}}

  {{- if eq .chezmoi.osRelease.id "manjaro"}}

    echo "========================================================================="
    echo "installing tools for manjaro linux, may require password and confirmation"

    # install ohmyzsh first, it may modify the zsh config and env
    # also, julia will modify zshrc to add alias
    sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"

    sudo pacman -Syu --needed neovim zellij fakeroot obsidian code racket

    # set "cc" as alias for nvim
    command -v cc >/dev/null || echo "alias cc='nvim'" >> .zshrc

    # install lazyvim
    git clone https://github.com/LazyVim/starter ~/.config/nvim
    rm -rf ~/.config/nvim/.git
    
    yay -Syu --needed synology-drive buttercup-desktop

    curl -fsSL https://install.julialang.org | sh

    chsh -s $(which zsh)

    echo "tools installed or updated"
    echo "========================================================================="

  {{- else }}

    echo "skip dev tool installation because no matching linux distro ..."

  {{- end }}

{{- end }}
