#!/bin/bash

{{- $manjaro := eq .chezmoi.osRelease.id "manjaro" }}

{{- if $manjaro }}

echo "installing tools for manjaro linux, may require password and confirmation"

sudo pacman -Syu neofetch \
tldr \
neovim

git clone --depth 1 https://github.com/wbthomason/packer.nvim\
 ~/.local/share/nvim/site/pack/packer/start/packer.nvim

{{- end }}
