#!/bin/bash

{{- if eq .chezmoi.os "linux"}}

  {{- if eq .chezmoi.osRelease.id "manjaro"}}

    echo "installing tools for manjaro linux, may require password and confirmation"

    sudo pacman -Syu --needed neofetch tldr neovim fakeroot vivaldi obsidian code racket
    command -v nv >/dev/null || echo "alias nv='nvim'" >> .zshrc

    yay -Syu --needed synology-drive buttercup-desktop

    curl -fsSL https://install.julialang.org | sh

    chsh -s $(which zsh)

  {{- else if eq .chezmoi.osRelease.id "amzn"}}

    echo "installing tools AL2, may require password and confirmation"

    if [ ! -f "$HOME/squashfs-root/usr/bin/nvim" ]; then
        cd
        wget https://github.com/neovim/neovim/releases/download/v0.10.2/nvim.appimage
        chmod +x nvim.appimage
        ./nvim.appimage --appimage-extract
        command -v nv >/dev/null || echo "alias nv='~/squashfs-root/usr/bin/nvim'" >> .zshrc
        source .zshrc
        rm nvim.appimage
    fi

  {{- else }}

    echo "skip dev tool installation because no matching linux distro ..."

  {{- end }}

{{- end }}
