#!/bin/bash

{{- if eq .chezmoi.os "linux"}}

  {{- if eq .chezmoi.osRelease.id "manjaro"}}

    echo "============================================================================"
    echo "installing tools for manjaro linux, may require password and confirmation..."

    # install ohmyzsh first, it may modify the zsh config and env
    # julia and others may also modify zshrc to add alias
    OHMYZSH_DIR="$HOME/.config/zsh/ohmyzsh"
    if [ ! -d "$OHMYZSH_DIR" ]; then
      echo "Oh My Zsh not found in $OHMYZSH_DIR. Installing..."
      sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
    else
      echo "Oh My Zsh already installed at $OHMYZSH_DIR. Skipping..."
    fi

    # install general tools
    sudo pacman -Syu --needed neovim zellij fakeroot obsidian code racket

    # set "cc" as alias for nvim
    command -v cc >/dev/null || echo "alias cc='nvim'" >> .zshrc

    # install lazyvim
    git clone https://github.com/LazyVim/starter ~/.config/nvim
    rm -rf ~/.config/nvim/.git
 
    # tools better installed from yay (for now)
    yay -Syu --needed synology-drive buttercup-desktop

    # use juliaup to install and manage
    curl -fsSL https://install.julialang.org | sh

    # fcitx5 now supported by sway, need to run config and add pinyin manually
    sudo pacman -Syu --needed fcitx5-im fcitx5-chinese-addons fcitx5-pinyin-zhwiki

    chsh -s $(which zsh)

    echo "tools installed or updated"
    echo "============================================================================"

  {{- else }}

    echo "============================================================================"
    echo "Skipping dev tool installation because no matching linux distro ..."
    echo "============================================================================"

  {{- end }}

{{- end }}
